---
// import { AstroG } from "../trpc/astro-global.astro"
export interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;
export const AstroG = Astro.request
// console.log("astro", Astro.request)
export const AstroCookies = JSON.parse(JSON.stringify({ cookie: Astro.request?.headers?.get("cookie") }))
// console.log("COOKS", AstroCookies)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console,
          Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
