---
import type { Product } from "@prisma/client";

export type Props = {
  user?: any|null;
  product: any;
};

const { user, product } = Astro.props;
---

<div
  class={`grid ${
    user?.roles.includes("ADMIN")
      ? "grid-cols-7"
      : "grid-cols-6"
  } gap-2 even:bg-gray-100 py-2 px-2`}
>
  <div
    class={`font-semibold col-span-4 ${
      product.available ? "" : "line-through"
    }`}
  >
    {product.title}
  </div>
  <div class="">
    {(product.euroPrice / 100).toFixed(2)}€
  </div>
  <div class="">{product.walletPrice}</div>
  {
    user?.roles.includes("ADMIN") && (
      <a href={`/prices/${product.id}`}>
        <button class="text-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            />
          </svg>
        </button>
      </a>
    )
  }
</div>
