---
import { pageShieldList } from "src/backend/auth/pageShield";
import { SendCoinPage } from "src/components/wallet/SendPage";
import QRCode from "qrcode";
import AppLayout from "src/layouts/AppLayout.astro";

const { user, restrictPage } = await pageShieldList(
  Astro.request,
  ["USER"],
);

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/send");
}

const qrFail = Astro.url.searchParams.get("qrFail");
---

<AppLayout title="Wallet Transfer" user={user!}>
  <div class="w-full h-full">
    <!-- <FlatRatePage user={user!} qrCode={userQRCodeDataURI!} client:load /> -->
    <SendCoinPage user={user!} qrFail={!!qrFail} client:load />
  </div>
</AppLayout>
