---
import { pageShield } from "src/backend/auth/pageShield";
import { PageHeading } from "@astroshuttle/ui";
import AdminLayout from "src/layouts/AdminLayout.astro";

const { user, restrictPage } = await pageShield(Astro.request, "ADMIN")

if (restrictPage) {
  return Astro.redirect("/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading>Dashboard</PageHeading>
</AdminLayout>