---
import AdminLayout from "src/layouts/AdminLayout.astro";
import { PageHeading } from "@astroshuttle/ui"
import { ModelEditor } from "src/components/admin/edit/index"
import { pageShield } from "src/backend/auth/pageShield";
import { categoryEditSchema } from "src/backend/schemas/categories";

const { user, restrictPage } = await pageShield(Astro.request, "ADMIN")
const { id } = Astro.params

if (restrictPage) {
  return Astro.redirect("/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading client:load>Edit</PageHeading>
  <ModelEditor client:load queryKey="getCategory" schema={categoryEditSchema} defaultQueryInput={{
    id: id as string,
  }} redirectTo="/admin/categories" mutationKey="updateCategory" />
</AdminLayout>