---
import AdminLayout from "src/layouts/AdminLayout.astro";
import { PageHeading } from "@astroshuttle/ui"
import { pageShield } from "src/backend/auth/pageShield";
import { categoryCreateSchema } from "src/backend/schemas/categories";
import { ModelCreator } from "src/components/admin/add";

const { user, restrictPage } = await pageShield(Astro.request, "ADMIN")
const { id } = Astro.params

if (restrictPage) {
  return Astro.redirect("/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading client:load>New Category</PageHeading>
  <ModelCreator client:load schema={categoryCreateSchema} redirectTo="/admin/categories" mutationKey="createCategory" />
</AdminLayout>