---
import AdminLayout from "src/layouts/AdminLayout.astro";
import { PageHeading } from "@astroshuttle/ui"
import { Table } from "src/components/admin/table/index"
import { pageShield } from "src/backend/auth/pageShield";
import { categoriesTableSchema } from "src/backend/schemas/categories";

const { user, restrictPage } = await pageShield(Astro.request, "ADMIN")

if (restrictPage) {
  return Astro.redirect("/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading actionLink={{
    label: "Add",
    href: "/admin/categories/add"
  }} client:load>Categories</PageHeading>
  <Table
    client:load
    displaySchema={categoriesTableSchema}
    queryKey="getCategories"
    defaultQueryInput={{ page: 0, where: {}, itemsPerPage: 15,  }}
    searchField="title"
    editURL="/admin/categories/[id]"
    idKey="id"
  />
</AdminLayout>