---
import { pageShield } from "src/backend/index";
import AdminLayout from "src/layouts/AdminLayout.astro";
import { PageHeading } from "@astroshuttle/ui"
import { ModelEditor } from "src/components/admin/edit/index"
import { usersEditSchema } from "src/backend/schemas/user";

const { user, restrictPage } = pageShield(Astro.request)
const { id } = Astro.params

if (restrictPage) {
  return Astro.redirect("/auth/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading client:load>Edit</PageHeading>
  <ModelEditor client:load queryKey="getUser" schema={usersEditSchema} defaultQueryInput={{
    id: id as string,
  }} redirectTo="/admin/users" mutationKey="updateUser" />
</AdminLayout>