---
import { pageShield } from "src/backend/index";
import AdminLayout from "src/layouts/AdminLayout.astro";
import { PageHeading } from "@astroshuttle/ui"
import { queryUsersInputSchema, usersTableSchema } from "src/backend/schemas/user";
import { Table } from "src/components/admin/table/index"

const { user, restrictPage } = pageShield(Astro.request)

if (restrictPage) {
  return Astro.redirect("/auth/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading client:load>Users</PageHeading>
  <Table
    client:load
    displaySchema={usersTableSchema}
    queryKey="getUsers"
    defaultQueryInput={{ page: 0, where: {}, itemsPerPage: 15,  }}
    searchField="email"
    editURL="/admin/users/[id]"
    idKey="id"
  />
</AdminLayout>