---
import { pageShield } from "src/backend/auth/pageShield";
import { ModelEditor } from "src/components/admin/edit";
import { AddProductForm } from "src/components/admin/product/AddForm";
import { EditProductForm } from "src/components/admin/product/EditForm";
import AppLayout from "src/layouts/AppLayout.astro";
import { serverRpc } from "../../backend";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "ADMIN",
);

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/app");
}

const id = String(Astro.params.id)
const product = await serverRpc.authorize(Astro.request).getProduct({ id })
---

<AppLayout title="Preisliste Cafete" user={user!}>
  <div class="max-w-lg mx-auto px-2">
    <div class="grid grid-cols-2 gap-2">
      <h1 class="text-xl font-bold my-2">Edit Product</h1>
    </div>

    {
      product && (
        <EditProductForm product={product as any} client:load />
      )
    }
  </div>
</AppLayout>
