---
import { pageShield } from "src/backend/auth/pageShield";
import ProductCard from "src/components/ProductCard.astro";
import AppLayout from "src/layouts/AppLayout.astro";
import { serverRpc } from "../../backend";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

const coldDrinksQ = serverRpc
  .authorize(Astro.request)
  .getProducts({
    where: {
      categories: {
        some: {
          key: "DRINKS_COLD",
        },
      },
    },
  });

const hotDrinksQ = serverRpc
  .authorize(Astro.request)
  .getProducts({
    where: {
      categories: {
        some: {
          key: "DRINKS_HOT",
        },
      },
    },
  });

const foodsQ = serverRpc
  .authorize(Astro.request)
  .getProducts({
    where: {
      categories: {
        some: {
          key: "FOOD",
        },
      },
    },
  });

const mateQ = serverRpc
  .authorize(Astro.request)
  .getProducts({
    where: {
      categories: {
        some: {
          key: "MATE",
        },
      },
    },
  });

const snacksQ = serverRpc
  .authorize(Astro.request)
  .getProducts({
    where: {
      categories: {
        some: {
          key: "SNACKS",
        },
      },
    },
  });

const products = await Promise.all([
  coldDrinksQ,
  mateQ,
  hotDrinksQ,
  foodsQ,
  snacksQ,
]);

const [coldDrinks, mate, hotDrinks, food, snacks] =
  products.map((p) => p.items);

---

<AppLayout title="Price list Cafete" user={user!}>
  <div class="max-w-lg mx-auto">
    <div class="grid grid-cols-2 gap-2 px-2">
      <h1 class="text-xl font-bold my-2">Price list</h1>
      {
        user?.roles.includes("ADMIN") && (
          <a href="/prices/add">
            <p class="text-right py-3 px-2">+ Add</p>
          </a>
        )
      }
    </div>

    <div class="flex flex-col">
      <h2 class="text-xl font-bold mt-4 mb-2 px-2 text-green-700">Mate</h2>
      <div
        class={`grid ${
          user?.roles.includes("ADMIN")
            ? "grid-cols-7"
            : "grid-cols-6"
        } gap-2 mb-0 sticky top-0 font-semibold text-gray-500 px-2 bg-gray-200 py-2`}
      >
        <div class="col-span-3">Product</div>
        <div class="">Price</div>
        <div class="">EUR</div>
        <div class="">T9C</div>
      </div>
      {
        mate.map((pr) => (
          <ProductCard user={user} product={pr} />
        ))
      }
    </div>

    <div class="flex flex-col">
      <h2 class="text-xl font-bold mt-4 mb-2 px-2 text-green-700">
        Cold Drinks
      </h2>
      <div
        class={`grid ${
          user?.roles.includes("ADMIN")
            ? "grid-cols-7"
            : "grid-cols-6"
        } gap-2 mb-0 sticky top-0 font-semibold text-gray-500 px-2 bg-gray-200 py-2`}
      >
        <div class="col-span-3">Product</div>
        <div class="">Price</div>
        <div class="">EUR</div>
        <div class="">T9C</div>
      </div>
      {
        coldDrinks.map((pr) => (
          <ProductCard user={user} product={pr} />
        ))
      }
    </div>

    <div class="flex flex-col">
      <h2 class="text-xl font-bold mt-4 mb-2 px-2 text-green-700">
        Hot Drinks
      </h2>
      <div
        class={`grid ${
          user?.roles.includes("ADMIN")
            ? "grid-cols-7"
            : "grid-cols-6"
        } gap-2 mb-0 sticky top-0 font-semibold text-gray-500 px-2 bg-gray-200 py-2`}
      >
        <div class="col-span-3">Product</div>
        <div class="">Price</div>
        <div class="">EUR</div>
        <div class="">T9C</div>
      </div>
      {
        hotDrinks.map((pr) => (
          <ProductCard user={user} product={pr} />
        ))
      }
    </div>

    <div class="flex flex-col">
      <h2 class="text-xl font-bold mt-4 mb-2 px-2 text-green-700">Food</h2>
      <div
        class={`grid ${
          user?.roles.includes("ADMIN")
            ? "grid-cols-7"
            : "grid-cols-6"
        } gap-2 mb-0 sticky top-0 font-semibold text-gray-500 px-2 bg-gray-200 py-2`}
      >
        <div class="col-span-3">Product</div>
        <div class="">Price</div>
        <div class="">EUR</div>
        <div class="">T9C</div>
      </div>
      {
        food.map((pr) => (
          <ProductCard user={user} product={pr} />
        ))
      }
    </div>

    <div class="flex flex-col">
      <h2 class="text-xl font-bold mt-4 mb-2 px-2 text-green-700">
        Snacks
      </h2>
      <div
        class={`grid ${
          user?.roles.includes("ADMIN")
            ? "grid-cols-7"
            : "grid-cols-6"
        } gap-2 mb-0 sticky top-0 font-semibold text-gray-500 px-2 bg-gray-200 py-2`}
      >
        <div class="col-span-3">Product</div>
        <div class="">Price</div>
        <div class="">EUR</div>
        <div class="">T9C</div>
      </div>
      {
        snacks.map((pr) => (
          <ProductCard user={user} product={pr} />
        ))
      }
    </div>
  </div>
</AppLayout>
