---
export interface Props {
  title?: string;
  href: string;
  disabled?: boolean;
}

const { title, href, disabled } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<a
  href={disabled ? "#" : href}
  class={`self-center w-full h-full flex px-4 text-center relative ${
    isActive ? "bg-blue-100 text-blue-700" : "text-blue-400"
  }`}
>
  <div class="self-center text-center w-full">
    <slot />
  </div>
  { disabled && <div class="text-[8px] absolute top-1 right-1 bg-gray-200 rounded-xl px-1 text-gray-600">soon</div>}
</a>
