---
import AdminLayout from "src/layouts/AdminLayout.astro";
import { PageHeading } from "@astroshuttle/ui"
import { queryUsersInputSchema, usersTableSchema } from "src/backend/schemas/user";
import { Table } from "src/components/admin/table/index"
import { pageShield } from "src/backend/auth/pageShield";

const { user, restrictPage } = await pageShield(Astro.request, "ADMIN")

if (restrictPage) {
  return Astro.redirect("/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading client:load>Users</PageHeading>
  <Table
    client:load
    displaySchema={usersTableSchema}
    queryKey="getUsers"
    defaultQueryInput={{ page: 0, where: {}, itemsPerPage: 15,  }}
    searchField="email"
    editURL="/admin/users/[id]"
    idKey="id"
  />
</AdminLayout>