---
import { pageShield } from "src/backend/index";
import { PageHeading } from "@astroshuttle/ui";
import AdminLayout from "src/layouts/AdminLayout.astro";

const { user, restrictPage } = pageShield(Astro.request)

if (restrictPage) {
  return Astro.redirect("/auth/sign-in")
}

---
<AdminLayout title="Admin" user={user}>
  <PageHeading>Dashboard</PageHeading>
</AdminLayout>