---
import { pageShield } from "src/backend/auth/pageShield";
import { ActivityHistory } from "src/components/app/ActivityHistory";
import AppLayout from "src/layouts/AppLayout.astro";
import { serverRpc } from "../backend";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/app");
}

const initialData = await serverRpc
  .authorize(Astro.request)
  .getCurrentFlatData();
---

<AppLayout title="Cafete App" user={user!}>
  <div class="max-w-lg mx-auto relative">
    <a href="/settings">
      <button
        class="flex flex-row px-2 py-1 rounded-lg bg-white/60 text-xs text-gray-800 absolute right-2 top-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 text-gray-800 self-center"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
          ></path>
        </svg>
        <p class="self-center">edit profile</p>
      </button>
    </a>

    <div class="px-4">
      <h1 class="text-xl font-bold my-2">
        Hey, {user?.username}!
      </h1>
      <div class="py-3">
        <a href="/wallet">
          <div class="bg-white shadow-lg shadow-green-600/80 my-2 rounded-xl p-3">
            <h2 class="text-lg font-bold text-green-800">New Feature</h2>
            <p>
              Wallets are live! You can now get T9C for
              digital payments in the cafete downstairs
              @Takustr. 9
            </p>

            <p class="text-green-600 font-semibold">
              Tap here to see your wallet
            </p>
          </div>
        </a>
      </div>
      <p class="text-xs">
        Welcome to the Cafete T9 App!<br />
      </p>
      <h2 class="text-xl font-bold mt-4 mb-2">
        Recent Activity
      </h2>
    </div>
    <ActivityHistory
      client:load
      initialData={initialData}
    />
  </div>
</AppLayout>
