---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { pageShield } from "src/backend/auth/pageShield";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

if (user) {
	if (user.roles.includes("TEAM") || user.roles.includes("ADMIN")) {
		return Astro.redirect("/work")
	}

	return Astro.redirect("/flat")
}

---

<Layout title="Cafete T9 Flat">
		<h1 class="text-4xl lg:text-8xl text-white font-semibold text-center my-4">Cafete T9</h1>
		<h2 class="text-base text-white/60 text-center">v0.1.1</h2>

		<div class="mx-auto grid grid-cols-1 gap-6 max-w-xs w-full mt-6">
			<a href="/app">
				<div class="w-full p-6 rounded-lg shadow-md text-center bg-white font-bold">App</div>
			</a>
			<a href="/flat">
				<div class="w-full p-6 rounded-lg shadow-md text-center bg-white font-bold">Kaffee Flat</div>
			</a>
			<a href="/work">
				<div class="w-full p-6 rounded-lg shadow-md text-center bg-white font-bold">Helfer Portal</div>
			</a>
		</div>

		<div class="h-[1400px] w-full"></div>
		<a href="/impressum">Impressum für ganz Neugierige</a>
</Layout>

<style>
	body {
		@apply bg-green-800;
	}
</style>
