---
import { pageShield } from "src/backend/auth/pageShield";

import { FlatRatePage } from "src/components/flatrate/index";
import { WalletReceivePage } from "src/components/wallet/ReceivePage";
import { getAuthenticatedUser } from "@astroshuttle/auth";
import QRCode from "qrcode";
import AppLayout from "src/layouts/AppLayout.astro";
import Layout from "src/layouts/Layout.astro";
import { serverRpc } from "../backend";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

const generateUserQRCode = async (text: string) => {
  try {
    return await QRCode.toDataURL(text);
  } catch (err) {
    console.error(err);
  }
};

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/flat");
}

const userQRCodeDataURI = await generateUserQRCode(
  user!.id,
);

---

<AppLayout title="Cafete Flatrate" user={user!}>
  <div class="w-full h-full">
    <WalletReceivePage
      user={user!}
      qrCode={userQRCodeDataURI!}
      client:load
    />

    <style is:global>
      html,
      body {
        width: 100%;
        height: 100%;
      }
    </style>
  </div>
</AppLayout>
