---
import { pageShield } from "src/backend/auth/pageShield";
import { UserSettingsPage } from "src/components/app/UserSettingsPage";
import AppLayout from "src/layouts/AppLayout.astro";
import { serverRpc } from "../backend";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/settings");
}

const userData = await serverRpc.authorize(Astro.request).getProfile()
---

<AppLayout title="Your profile" user={user!}>
  <div class="px-4 max-w-lg mx-auto">
    <h1 class="text-xl font-bold my-2">Settings</h1>

    <UserSettingsPage user={userData} client:load />
  </div>
</AppLayout>