---
import { SignupPage } from "src/components/auth/signupPage"
import Layout from "src/layouts/Layout.astro";

const r = Astro.url.searchParams.get("r");
---
<Layout title="Sign Up">
  <SignupPage client:load redirectTo={`${r ? r : "/flat"}`} />
</Layout>