---
import { pageShield } from "src/backend/auth/pageShield";
import { LoginPage } from "src/components/auth/login"
import Layout from "src/layouts/Layout.astro";

const r = Astro.url.searchParams.get("r");

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

if (user) {
  if (r) {
    return Astro.redirect(r)
  }

	if (user.roles.includes("TEAM") || user.roles.includes("ADMIN")) {
		return Astro.redirect("/work")
	}

	return Astro.redirect("/flat")
}

---
<Layout title="Login">
  <LoginPage client:load redirectTo={`${r ? r : "/flat"}`} />
</Layout>