---
import { pageShield } from "src/backend/auth/pageShield";
import { WalletPage } from "src/components/app/WalletPage";
import AppLayout from "src/layouts/AppLayout.astro";
import { serverRpc } from "../backend";

const { user, restrictPage } = await pageShield(
  Astro.request,
  "USER",
);

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/app");
}

const userWallet = await serverRpc
  .authorize(Astro.request)
  .getWallet();

// const initialData = await serverRpc.authorize(Astro.request).getCurrentFlatData()

const userName = user?.name || user?.username;
---

<AppLayout title="Cafete App" user={user!}>
  <div class="max-w-lg mx-auto">
    <WalletPage
      client:load
      defaultValue={userWallet}
      userName={userName}
    />

    <div class="px-2 py-2">
      <div
        class="text-left text-gray-100 font-bold p-4 my-2 rounded-xl bg-red-700 shadow-lg text-xs"
      >
        <h2 class="text-lg my-1 font-bold">! Note</h2>
        This feature is experimental and this app is a private student
        project. It should (and probably will) work -
        but keep in mind that, like any other student project,
        things might fail and any loss of T9C will not be refunded
        and there's no way to convert your T9C back to Euros.
        This was developed as an experiment for the Cafete and
        by using this feature you agree to not hold me accountable
        nor liable to any financial damages or consequences caused by using the
        Wallet feature or any features that are touched by it.
        <br /><br />
        However, for those who want to participate in the experiment, lfg!
        <br /><br />
        Also: This is not a cryptocurrency!
      </div>
    </div>
  </div>
</AppLayout>
