---
import { pageShieldList } from "src/backend/auth/pageShield";
import { FlatRateEmployeePage } from "src/components/flatrate/employee";
import { getAuthenticatedUser } from "@astroshuttle/auth";
import QRCode from "qrcode";
import AppLayout from "src/layouts/AppLayout.astro";
import Layout from "src/layouts/Layout.astro";

const { user, restrictPage } = await pageShieldList(
  Astro.request,
  ["TEAM", "ADMIN"],
);

if (restrictPage) {
  return Astro.redirect("/sign-in");
}
---

<AppLayout title="Cafete Mitarbeiter" user={user!}>
  <div class="w-full h-full">
    <!-- <FlatRatePage user={user!} qrCode={userQRCodeDataURI!} client:load /> -->
    <FlatRateEmployeePage user={user!} client:load />
  </div>
</AppLayout>
