---
import { pageShieldList } from "src/backend/auth/pageShield";
import { serverRpc, serverRpcAdmin } from "src/backend/index";
import { SendCoinPage } from "src/components/wallet/SendPage";
import { SendUserKnownPage } from "src/components/wallet/SendUserKnownPage";
import QRCode from "qrcode";
import AppLayout from "src/layouts/AppLayout.astro";

const { user, restrictPage } = await pageShieldList(
  Astro.request,
  ["USER"],
);

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/send");
}

const receiverUser = await serverRpcAdmin.getUserByName({
  username: (Astro.params.user! as string)?.replaceAll("@", "")
})

const userWallet = await serverRpcAdmin.getWalletByUserId({ id: user!.id })

if (!userWallet) {
  return Astro.redirect("/wallet")
}

if (!receiverUser) { 
  return Astro.redirect("/send?qrFail=t")
}
---
<AppLayout title="Wallet Transfer" user={user!}>
  <div class="w-full h-full">
    <!-- <FlatRatePage user={user!} qrCode={userQRCodeDataURI!} client:load /> -->
    <SendUserKnownPage receiverName={receiverUser.username} maxValue={userWallet.balance} client:load />
  </div>
</AppLayout>
