---
import { pageShield } from "src/backend/index";
import { BoardCreation, PageHeading } from "@astroshuttle/ui";
import AdminLayout from "src/layouts/AdminLayout.astro";

const { user, restrictPage } = pageShield(Astro.request, "ADMIN")

if (restrictPage) {
  return Astro.redirect("/auth/sign-in")
}
---

<AdminLayout title="Create Board" user={user}>
  <BoardCreation client:only="react">

  </BoardCreation>
</AdminLayout>
