---
import { pageShield } from "src/backend/index";
import { PageHeading } from "@astroshuttle/ui";
import AdminLayout from "src/layouts/AdminLayout.astro";

const { user, restrictPage } = pageShield(Astro.request, "ADMIN")

if (restrictPage) {
  return Astro.redirect("/auth/sign-in")
}
---

<AdminLayout title="Boards" user={user}>
  <PageHeading actionLink={{ label: "+ create", href: "/admin/boards/create" }}>Boards</PageHeading>
</AdminLayout>