---
import {
  AdminNavbar,
  AdminNavItem,
  AdminToolbar,
} from "@astroshuttle/ui";
import type { User } from "@prisma/client";
export interface Props {
  title: string;
  children: any;
  user: Pick<User, "username" | "id" | "roles"> | null;
}

const { title, user } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="h-screen overflow-x-hidden relative">
      <div class="flex items-start justify-start">
        <AdminNavbar>
          <AdminNavItem href="/admin/"
            >Dashboard</AdminNavItem
          >
          <AdminNavItem href="/admin/users"
            >Users</AdminNavItem
          >
          <AdminNavItem href="/admin/categories"
            >Categories</AdminNavItem
          >
        </AdminNavbar>
        <div
          class="flex flex-col w-full pl-0 md:space-y-4 self-start h-full"
        >
          <AdminToolbar user={user} />
          <div class="m-0 p-0">
            <main
              class="flex flex-row min-h-full md:block text-gray-800 dark:text-gray-300 bg-gray-100 dark:bg-gray-800 md:p-4 relative -left-0 md:-top-8 h-full rounded-2xl rounded-tr-none z-10"
            >
              <div
                class="flex flex-col md:block p-4 h-full overflow-x-auto w-full"
              >
                <slot class="z-5" />
              </div>
            </main>
          </div>
        </div>
      </div>
    </main>
    <style>
      @media (prefers-color-scheme: dark) {
        body {
          --tw-bg-opacity: 1;
          background-color: rgb(
            31 41 55 / var(--tw-bg-opacity)
          );
        }
      }
    </style>
  </body>
</html>
