---
import { ToasterContainer } from "src/components/app/AppToaster";
import { NotificationSystem } from "src/components/app/NotificationSystem";
import MenuItem from "src/components/navbar/MenuItem.astro";
import { ChargeAuthorization } from "src/components/wallet/ChargeAuthorization";

// import { AstroG } from "../trpc/astro-global.astro"
export interface Props {
  title: string;
  children: any;
  user?: {
    id: string;
    username: string;
    roles: string[];
  } | null;
}

const { title, user } = Astro.props;

const doesWorkHere =
  user?.roles.includes("TEAM") ||
  user?.roles.includes("ADMIN");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>{title}</title>

    {
      process.env.NODE_ENV === "production" && (
        <script
          async
          defer
          data-website-id="4ee08bea-7768-45f9-aaed-c056f74884e0"
          src="https://analytics.digistudi.de/umami.js"
        />
      )
    }
  </head>
  <body>
    <div class="pb-20">
      <slot />
    </div>
    <div
      class="fixed bottom-0 left-0 right-0 w-full h-16 p-2"
    >
      <div
        class="w-full h-full rounded-xl bg-white shadow-xl shadow-black/40 overflow-hidden border border-gray-300 max-w-lg mx-auto"
      >
        <div
          class={`w-full h-full grid ${
            !doesWorkHere ? "grid-cols-4" : "grid-cols-5"
          }`}
        >
          <MenuItem href="/app/">
            <svg
              width="24px"
              height="24px"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 self-center mx-auto"
              ><path
                d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path><path
                d="M4.271 18.346S6.5 15.5 12 15.5s7.73 2.846 7.73 2.846M12 12a3 3 0 100-6 3 3 0 000 6z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </MenuItem>

          <MenuItem href="/flat">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              class="w-6 h-6 mx-auto self-center"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M17 11.6V15a6 6 0 01-6 6H9a6 6 0 01-6-6v-3.4a.6.6 0 01.6-.6h12.8a.6.6 0 01.6.6zM12 9c0-1 .714-2 2.143-2v0A2.857 2.857 0 0017 4.143V3.5M8 9v-.5a3 3 0 013-3v0a2 2 0 002-2V3"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path><path
                d="M16 11h2.5a2.5 2.5 0 010 5H17"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </MenuItem>

          <MenuItem href="/wallet">
            <svg
              width="24px"
              stroke-width="1.5"
              height="24px"
              viewBox="0 0 24 24"
              stroke="currentColor"
              fill="none"
              class="w-6 h-6 mx-auto self-center"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M19 20H5a2 2 0 01-2-2V9a2 2 0 012-2h14a2 2 0 012 2v9a2 2 0 01-2 2z"
                stroke-width="1.5"></path><path
                d="M16.5 14a.5.5 0 110-1 .5.5 0 010 1z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path><path
                d="M18 7V5.603a2 2 0 00-2.515-1.932l-11 2.933A2 2 0 003 8.537V9"
                stroke-width="1.5"></path>
            </svg>
          </MenuItem>

          <MenuItem href="/prices">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 mx-auto self-center"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z"
              ></path>
            </svg>
          </MenuItem>

          {
            doesWorkHere && (
              <MenuItem href="/work">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 mx-auto self-center">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z"
                  />
                </svg>
              </MenuItem>
            )
          }
        </div>
      </div>
    </div>
    <ToasterContainer client:load />
    <NotificationSystem client:only="react" />
    <ChargeAuthorization client:only="react" user={user!} />
    <style is:global>
      body {
        @apply bg-gray-200;
      }
    </style>
  </body>
</html>
