---
import { ToasterContainer } from 'src/components/app/AppToaster';

// import { AstroG } from "../trpc/astro-global.astro"
export interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;
export const AstroG = Astro.request;
export const AstroCookies = JSON.parse(
  JSON.stringify({
    cookie: Astro.request?.headers?.get("cookie"),
  }),
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, max-scale=1, viewport-fit=cover"
        /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- <meta name="viewport" content="width=device-width, user-scalable=no" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{title}</title>
    { process.env.NODE_ENV === "production" && <script async defer data-website-id="4ee08bea-7768-45f9-aaed-c056f74884e0" src="https://analytics.digistudi.de/umami.js"></script> }

  </head>
  <body>
    <slot />
    <ToasterContainer client:load />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        /* background-color: #f6f6f6; */
      }
      code {
        font-family: Menlo, Monaco, Lucida Console,
          Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
