---
//TODO: maybe refactor some components to use .astro components instead of react everywhere
interface Props extends astroHTML.JSX.HTMLAttributes {
  actionLink?: {
    label: string
    href: string
  }
}

const {
  className,
  children,
  actionLink,
  ...props
} = Astro.props;
---
  
<h1 class={`text-3xl font-bold block ${actionLink ? "flex flex-row justify-between" : ""} ${className ?? ""}`} {...props}>
  <slot />
  {
    actionLink && <a href={actionLink.href}>
      <button
        class="flex-shrink-0 px-4 py-2 text-sm font-semibold text-white bg-blue-600 rounded-2xl shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="button">
        {actionLink.label}
      </button>
    </a>
  }
</h1>