---
import { pageShieldList } from "src/backend/auth/pageShield";
import { serverRpc, serverRpcAdmin } from "src/backend/index";
import { SendFinalPage } from "src/components/wallet/SendFinalPage";
import { SendUserKnownPage } from "src/components/wallet/SendUserKnownPage";
import AppLayout from "src/layouts/AppLayout.astro";

const { user, restrictPage } = await pageShieldList(
  Astro.request,
  ["USER"],
);
const amount = parseInt(Astro.params.amount as string)

if (restrictPage) {
  return Astro.redirect("/sign-in?r=/send");
}

const receiverUser = await serverRpcAdmin.getUserByName({
  username: (Astro.params.user! as string)?.replaceAll("@", "")
})

const userWallet = await serverRpcAdmin.getWalletByUserId({ id: user!.id })

if (!userWallet) {
  return Astro.redirect("/wallet")
}

if (!receiverUser) { 
  return Astro.redirect("/send")
}

if (isNaN(amount) || userWallet.balance < amount) {
  return Astro.redirect(`/send/${receiverUser.username}`)
}
---
<AppLayout title="Wallet Transfer" user={user!}>
  <div class="w-full h-full">
    <SendFinalPage amount={amount} receiverName={receiverUser.username} client:load />
  </div>
</AppLayout>
